@import "tailwindcss";

:root {
  --foreground-rgb: 30, 41, 59;
  --background-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F8FAFC;
  -webkit-font-smoothing: antialiased;
}